@media (max-width: 480px) { 
   .main-contianer{
    width: 100% !important;
   }
   .preview img {
    height: 146px;
    width: 247px;
    margin: 0px;
    padding: 0.1rem;
    margin: 13px !important;
}
.form-control{
    
    width: 250px;
}
.delete-btn{
    position: relative;
    left: -152px;
    top: -143px;
}
}

@media only screen and (min-width:321px) and (max-width:775px) {
    #formji{
     margin-right: 200px;
       width: 145% !important;
    }
    
}